* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(255, 94, 98);
  background: linear-gradient(90deg, rgba(255, 94, 98, 1) 0%, rgba(255, 153, 102, 1) 100%);
  background-size: 100% 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
  background-color: white;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 15px 0;
  color: black;
}

ul {
  list-style: none;
}

.azul {
  background-color: #4453b3;
}

.column-movil {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  font-size: 17px;
  padding: 15px;
}

li:hover {
  background-color: #1e296f;
}

/** Menú con iconos **/
.menu-iconos i {
  font-size: 32px;
}

.oculto {
  display: none;
}

.oculto a {
  font-size: 22px;
}

.oculto small {
  font-size: 13px;
}

/** Dropdown Menú **/
.dropdown-menu {
  text-align: left;
}

.dropdown-menu ul {
  text-align: left;
  padding: 15px 0 0 0;
}

.dropdown-menu ul li:hover {
  background-color: #ff5e62;
}

/*** Menú redes sociales ***/
.menu-rrss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*** dropdown-menu-rrss ***/
.dropdown-menu-rrss {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.dropdown-menu-rrss ul {
  flex-grow: 1;
}

/* 
  que lo que se ponga aqui se aplica cuando tenga la anchura 768px como minimo
  min - si esta por debajo no entra
  max - que mas de ahi no entra
*/

@media screen and (min-width:468px) {
  .menu-iconos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Cuando utilizas eso flex-grow:1 y flex-basis: 30%, 
  es mejor que lo agrupes así: 
  flex: 1 0 30%; */
  .menu-iconos li {
    /* flex-grow: 1;
    flex-basis: 30%; */
    flex: 1 0 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu-iconos li i {
    align-self: center;
    margin-right: 15px;
  }

  .oculto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (min-width:768px) {
  .menu-iconos {
    flex-wrap: nowrap;
  }

  .column-movil {
    flex-direction: row;
  }

  .column-movil li {
    flex-grow: 1;
  }

  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .dropdown-menu li:hover ul {
    display: block;
    width: 100%;
    background-color: #1e296f;
  }

  .dropdown-menu-rrss {
    justify-content: space-between;
  }

}