* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

/*******************
      CONTENEDOR
******************/
.contenedor {
  margin: 0 auto;
}

/*******************
      HEADER
******************/
header {
  padding: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .carrito {
  display: none;
}

/*******************
      BANNER


      font size en
      h1 5rem
      h4 2rem
      p  2rem
******************/
.banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px 35px;
}
.banner article {
  text-align: left;
}
.banner article h1 {
  font-size: 5rem;
  font-weight: 400;
  margin: 60px 0;
}
.banner article h4 {
  margin: 30px 0;
  font-weight: 400;
}
.banner article .buscador {
  color: #a5aead;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.banner article .buscador p {
  margin-left: 25px;
}
.banner article .buscador img {
  padding: 25px;
  height: 50px;
}

/*******************
        MENU
        fontsize hgeneral de 2rem
******************/
.menu {
  background: #842551;
  background: linear-gradient(90deg, #842551 0%, #e14d51 100%);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.menu article {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.menu article img {
  width: 90px;
}
.menu article p {
  flex-grow: 1;
  text-align: center;
  line-height: 60px;
}

/*******************
      MAIN
      h2: 3rem;
      h3: 2rem;
      h4: 2rem:
      p:  4rem;
******************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 90px;
}
@media only screen and (min-width: 280px) {
  main {
    background-color: red;
  }
}
main h1 {
  padding: 30px;
  text-align: center;
  font-weight: 900;
}
main section {
  display: flex;
  flex-direction: column;
  border: 1px #a5aead solid;
  margin-bottom: 40px;
}
main section article {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
main section article h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
}
main section article h3 {
  font-weight: 500;
}
main section article #estrellas {
  margin: 25px 0;
  width: 250px;
}
main section article h4 {
  text-align: left;
  font-weight: 400;
}
main section article p {
  text-align: right;
  font-size: 4rem;
  text-decoration: line-through;
  font-weight: 900;
  margin-bottom: 40px;
}
main section article button {
  font-size: 2.3rem;
  flex-grow: 1;
  background-color: #32c3ef;
  padding: 25px;
  color: #ffffff;
}

/*******************
      FOOTER
      fuente general 2 rem
******************/
footer {
  padding: 25px 50px;
  background-color: #151515;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: left;
}
footer ul {
  list-style: none;
  flex-grow: 1;
  line-height: 50px;
}/*# sourceMappingURL=main.css.map */