@charset "UTF-8";
/***************** VARIABLES ****************/
/* fuente */
/* colores */
/* imagenes */
/* media queries */
/* otros */
/****************** MIXINS ***********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

header {
  /* el enlace de la imagen de fondo lo tenéis en las variables */
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  min-height: 24rem;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 762px) {
  header .contenido {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  header .contenido {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
header .contenido .titulo {
  color: #ffffff;
  font-size: 2.8rem;
}
header .contenido .subtitulo {
  margin-top: 50px;
  font-size: 1.2rem;
  color: #ffffff;
}

nav {
  background-color: black;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 762px) {
  nav .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
nav .menu li {
  position: relative;
  padding: 10px 0;
}
nav .menu li a {
  color: white;
  text-decoration: none;
}
nav .menu li a i {
  font-size: 1.5rem;
}
nav .menu li ul {
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 762px) {
  nav .menu li ul {
    display: none;
    text-align: left;
  }
  nav .menu li ul li {
    list-style: none;
  }
  nav .menu li:hover ul {
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
  }
  nav .menu li:hover ul li {
    margin: 10px;
  }
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.principal .titulo {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 15px 0;
  font-size: 2.8rem;
}
.principal .mainYaside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.principal .mainYaside main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.principal .mainYaside main article {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside main article {
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
  }
}
@media screen and (min-width: 1024px) {
  .principal .mainYaside main article {
    -ms-flex-preferred-size: calc(33.3333333333% - 16px);
        flex-basis: calc(33.3333333333% - 16px);
  }
}
.principal .mainYaside main article img {
  width: 100%;
}
.principal .mainYaside main article h3 {
  font-size: 1.4rem;
  margin: 10px 0;
}
.principal .mainYaside main article p {
  text-align: center;
  font-size: 1.2rem;
}
.principal .mainYaside main article p span {
  color: #536DFE;
}
.principal .mainYaside main article .boton {
  text-decoration: none;
  background-color: #455A64;
  color: white;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  font-family: Oswald, sans-serif;
}
.principal .mainYaside aside {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside aside {
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    background-color: #f2f2f2;
    margin-left: 16px;
  }
}
.principal .mainYaside aside h2 {
  font-size: 1.6rem;
  padding: 10px;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside aside h2 {
    text-align: center;
  }
}
.principal .mainYaside aside a {
  color: grey;
  text-decoration: none;
}
.principal h2 {
  margin-top: 10px;
  font-size: 1.6rem;
}
.principal p {
  font-size: 1.2rem;
  margin: 15px 0;
}
.principal .boton2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  background-color: #536DFE;
  color: white;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  font-family: Oswald, sans-serif;
}

footer {
  /* el enlace de la imagen de fondo lo tenéis en las variables */
  background-image: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 3rem;
  padding: 2rem 0;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 762px) {
  footer .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer .widget {
  padding: 0 15px;
}
@media screen and (min-width: 762px) {
  footer .footer .widget {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
footer .footer .widget h3 {
  color: #ffffff;
  font-size: 1.4rem;
  padding-top: 10px;
}
footer .footer .widget p {
  padding-top: 10px;
  font-size: 1.2rem;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */