@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin escritorio {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin boton($bg-color, $font-color, $border-color) {
  padding: var(--padding);
  background-color: $bg-color;
  border: 1px solid $border-color;
  color: $font-color;
}