:root {
  --primario: #7abe47;
  --secundario: #ffc845;
  --negro: #000000;
  --claro: #ffffff;
  --gris: #eeeeee;
  --oscuro: #57a42b;
  --padding: 1rem;
  --paddingt: 2rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--gris);
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--primario);
}
header .navegacion {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media screen and (min-width: 700px) {
  header .navegacion {
    grid-template-columns: 30% auto 30%;
  }
  header .navegacion div {
    grid-column: 1/2;
  }
  header .navegacion ul {
    grid-column: 3/4;
  }
}
header .navegacion div {
  justify-self: center;
}
header .navegacion ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
header .navegacion ul li {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
header .navegacion ul li:hover {
  background-color: red;
}
header .navegacion ul li a {
  color: var(--claro);
}

.sobre-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--paddingt) 0;
}
@media screen and (min-width: 700px) {
  .sobre-nosotros {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobre-nosotros img {
    grid-column: 1/2;
  }
}
.sobre-nosotros .nosotros-texto {
  padding: var(--padding);
}
.sobre-nosotros .nosotros-texto h1 {
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 700px) {
  .sobre-nosotros .nosotros-texto h1 {
    text-align: left;
  }
}
.sobre-nosotros .nosotros-texto p {
  text-align: justify;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 15px;
}
@media screen and (min-width: 700px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
main h1 {
  grid-column: 1/3;
}
main img {
  width: 100%;
}
main .casa1 {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 480px) {
  main .casa1 {
    display: grid;
  }
  main .casa1 img {
    grid-column: 1/2;
  }
  main .casa1 .casa-descripcion {
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-column: 2/3;
  }
}
@media screen and (min-width: 700px) {
  main .casa1 {
    grid-column: 1/3;
  }
}
main article {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
main article .casa-descripcion {
  padding: var(--padding) 10px;
  border: 1px var(--negro) solid;
  display: grid;
  background-color: var(--claro);
}
main article .casa-descripcion p {
  margin: 15px 0;
  grid-row: 2/3;
}
main article .casa-descripcion .precio {
  grid-row: 3/4;
}
main article .casa-descripcion .precio span {
  color: var(--primario);
  text-decoration: underline;
}
main article .casa-descripcion .boton {
  grid-row: 4/5;
  color: var(--claro);
  background-color: var(--primario);
  padding: var(--padding);
  border: 1px solid var(--primario);
}
main article .casa-descripcion .boton:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: var(--claro);
  color: var(--primario);
  border: 1px solid var(--primario);
}

footer {
  background-color: var(--primario);
  color: var(--claro);
}
footer h2 {
  padding: 10px 0;
}
footer .footer-contenido {
  padding: var(--padding) 0;
  display: grid;
  -webkit-column-gap: var(--padding);
     -moz-column-gap: var(--padding);
          column-gap: var(--padding);
  padding: 10px;
}
@media screen and (min-width: 700px) {
  footer .footer-contenido {
    grid-template-columns: 30% 20% 2fr;
  }
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .nosotros {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .navegacion {
    grid-column: 2/3;
  }
}
footer .footer-contenido .navegacion ul li {
  margin-bottom: 10px;
}
footer .footer-contenido .navegacion ul li a {
  color: var(--claro);
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .casas-venta {
    grid-column: 3/4;
  }
}
footer .footer-contenido .casas-venta .casas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
}
footer .footer-contenido .casas-venta .casas article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
footer .derechos {
  display: grid;
  background-color: var(--oscuro);
  justify-items: center;
  padding: var(--padding) 0;
}/*# sourceMappingURL=main.css.map */