:root {
  --primario: #7abe47;
  --secundario: #ffc845;
  --negro: #000000;
  --claro: #ffffff;
  --gris: #eeeeee;
  --oscuro: #57a42b;
  --padding: 1rem;
  --paddingt: 2rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--gris);
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--primario);
}
header .navegacion {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media screen and (min-width: 700px) {
  header .navegacion {
    grid-template-columns: 30% auto 30%;
  }
  header .navegacion div {
    grid-column: 1/2;
  }
  header .navegacion ul {
    grid-column: 3/4;
  }
}
header .navegacion div {
  justify-self: center;
}
header .navegacion ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
header .navegacion ul li {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
header .navegacion ul li:hover {
  background-color: red;
}
header .navegacion ul li a {
  color: var(--claro);
}

.sobre-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
main {
  display: grid;
  grid-template-columns: 50% 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
main h1 {
  grid-column: 1/3;
}
main article {
  background-color: purple;
}
main .casa1 {
  grid-column: 1/3;
  display: grid;
}
main .casa1 img {
  grid-column: 1/2;
}
main .casa1 div {
  grid-column: 2/3;
}

footer {
  background-color: var(--primario);
  color: var(--claro);
}
footer h2 {
  padding: 10px 0;
}
footer .footer-contenido {
  padding: var(--padding) 0;
  display: grid;
}
@media screen and (min-width: 700px) {
  footer .footer-contenido {
    grid-template-columns: 30% 20% 2fr;
  }
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .nosotros {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .navegacion {
    grid-column: 2/3;
  }
}
footer .footer-contenido .navegacion a {
  color: var(--claro);
}
@media screen and (min-width: 700px) {
  footer .footer-contenido .casas-venta {
    grid-column: 3/4;
  }
}
footer .footer-contenido .casas-venta .casas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer .footer-contenido .casas-venta .casas article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
footer .footer-contenido .casas-venta .casas article div {
  background-color: #000000;
}
footer .derechos {
  display: grid;
  background-color: var(--oscuro);
  justify-items: center;
  padding: var(--padding) 0;
}/*# sourceMappingURL=main.css.map */