@charset "UTF-8";
/***************** VARIABLES ****************/
/* fuente */
/* colores */
/* imagenes */
/* media queries */
/* otros */
/****************** MIXINS ***********************/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-style: "Gothic A1", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

i {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  /* el enlace de la imagen de fondo lo tenéis en las variables */
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  min-height: 24rem;
  background-size: cover;
  background-position: center center;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .contenido {
  display: grid;
  background-color: rebeccapurple;
  justify-items: center;
  color: #ffffff;
}
header .contenido .titulo {
  text-align: center;
}
@media screen and (min-width: 762px) {
  header .contenido .titulo {
    text-align: unset;
  }
}
@media screen and (min-width: 762px) {
  header .contenido {
    justify-items: left;
  }
  header .contenido .titulo {
    text-align: unset;
  }
}
@media screen and (min-width: 1024px) {
  header .contenido {
    justify-items: right;
  }
}

nav {
  background-color: black;
}
nav .menu {
  display: grid;
  text-align: center;
}
@media screen and (min-width: 762px) {
  nav .menu {
    text-align: unset;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
  }
  nav .menu li:last-child {
    justify-self: end;
  }
}
nav .menu li {
  display: grid;
  position: relative;
}
@media screen and (min-width: 762px) {
  nav .menu li ul {
    position: absolute;
    display: none;
  }
}
nav .menu li:hover {
  background-color: rgba(255, 204, 204, 0.445);
}
nav .menu li:hover:hover ul {
  display: block;
  width: 100%;
  top: 100%;
  background-color: black;
}
nav .menu li a {
  padding: 10px;
  color: #ffffff;
}

.principal {
  background-color: aliceblue;
  padding: 0 15px;
}
.principal .mainYaside {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media screen and (min-width: 1024px) {
  .principal .mainYaside {
    grid-template-columns: 75% 25%;
  }
}
.principal .mainYaside main {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media screen and (min-width: 762px) {
  .principal .mainYaside main .destacado {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/2;
  }
}
@media screen and (min-width: 762px) {
  .principal .mainYaside main .destacado {
    grid-column: 1/3;
  }
}
.principal .mainYaside main .destacado div {
  background-color: crimson;
}
.principal .mainYaside main article {
  display: grid;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}
.principal .mainYaside main article div {
  padding: 15px;
  display: grid;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.principal .mainYaside main article div h3 {
  padding: 15px 0;
}
.principal .mainYaside main article div .boton {
  padding: 15px;
  color: white;
  font-family: "Oswald", sans-serif;
  background-color: #455A64;
}
.principal .mainYaside aside {
  grid-row: 1/2;
  display: grid;
}
@media screen and (min-width: 762px) {
  .principal .mainYaside aside {
    grid-column: 2/3;
  }
}

footer {
  /* el enlace de la imagen de fondo lo tenéis en las variables */
  background-image: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 3rem;
  padding: 2rem 0;
  min-height: 20rem;
}/*# sourceMappingURL=style.css.map */