@import 'variables';
@import 'mixins';

// main css conjunto con un estilo usado antes

.contenedor {
  grid-column: repeat(auto-fill, minmax(25%, 1fr));
}

main {
  display: grid;
  gap: 18;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));


  article {

    background-color: $article-color;

    img {
      width: 100%;
    }
  }

}