// Definición de variables
$color-primario: #3498db;
$color-fondo: #ecf0f1;
$color1-menu: #741d51;
$color-secundario: #741d51;
$color2-menu: #e14d51;
$white: #ffffff;
// Margenes
$espaciado: 12px;

// tamaños de responsive
$telefono: 280px;
$tablet: 480px;
$desktop: 768px;
