// Importación de variables
@import 'variables';
@import 'mixins';

// Reseteo de propiedades
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

/*******************
      CONTENEDOR
******************/

.contenedor {
  margin: 0 auto;
}

/*******************
      HEADER
******************/
header {
  padding: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .carrito {
    display: none;
  }
}

/*******************
      BANNER


      font size en
      h1 5rem
      h4 2rem
      p  2rem
******************/
.banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 150px 35px;
  article {
    text-align: left;

    h1 {
      font-size: 5rem;
      font-weight: 400;
      margin: 60px 0;
    }

    h4 {
      margin: 30px 0;
      font-weight: 400;
    }

    .buscador {
      color: #a5aead;
      display: flex;
      flex-direction: row;
      background-color: $white;
      justify-content: space-between;
      align-items: center;

      p {
        margin-left: $espaciado;
      }

      img {
        padding: $espaciado;
        height: 50px;
      }
    }
  }
}

/*******************
        MENU
        fontsize hgeneral de 2rem
******************/

.menu {
  background: $color1-menu;
  background: linear-gradient(90deg, $color1-menu 0%, $color2-menu 100%);
  display: flex;
  flex-direction: column;
  padding: $espaciado;

  article {
    padding: $espaciado;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $white;

    img {
      width: 90px;
    }

    p {
      flex-grow: 1;
      text-align: center;
      line-height: 60px;
    }
  }
}

/*******************
      MAIN
      h2: 3rem;
      h3: 2rem;
      h4: 2rem:
      p:  4rem;
******************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 90px;

  @include for-phone {
    background-color: red;
  }

  h1 {
    padding: 30px;
    text-align: center;
    font-weight: 900;
  }

  section {
    display: flex;
    flex-direction: column;
    border: 1px #a5aead solid;
    margin-bottom: 40px;

    article {
      padding: $espaciado;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 20px;
      }

      h3 {
        font-weight: 500;
      }

      #estrellas {
        margin: $espaciado 0;
        width: 250px;
      }

      h4 {
        text-align: left;
        font-weight: 400;
      }

      p {
        text-align: right;
        font-size:4rem;
        text-decoration: line-through;
        font-weight: 900;
        margin-bottom: 40px;
      }

      button {
        font-size: 2.3rem;
        flex-grow: 1;
        background-color: #32c3ef;
        padding: $espaciado;
        color: $white;
      }
    }
  }
}

/*******************
      FOOTER
      fuente general 2 rem
******************/
footer {
  padding: $espaciado 50px;
  background-color: #151515;
  color: $white;
  display: flex;
  flex-direction: row;
  text-align: left;

  ul {
    list-style: none;
    flex-grow: 1;
    line-height: 50px;
  }
}
