// Importación de variables
@import 'variables';
@import 'mixins';

// Reseteo de propiedades
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

/*******************
      CONTENEDOR
******************/

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/*******************
      HEADER
******************/

// cuando quierres que ewl basoluto vay aen funcion al padre lo pones en relative, al padre
header {
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;

  .logo {
    width: 110px;
  }

  .carrito {
    .contenido {
      display: none;
    }

    @include for-desktop {
      &:hover {
        .contenido {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0;
          background-color: $white;
          padding: 10px;
          width: 400px;
          section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            article:nth-child(2) {
              flex-basis: 45%;
            }
            article {
              display: flex;
              flex-direction: column;
              h2 {
                margin-bottom: 10px;
                text-align: center;
              }

              img {
                width: 130px;
              }
            }
          }
          button {
            @include button($btn-color);
          }
        }
      }
    }
  }
}

/*******************
      BANNER
******************/
.banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: $white;
  padding: 85px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  article {
    flex-grow: 1;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 30px 0;
    }

    h4 {
      margin: 30px 0;
      font-weight: 300;
      font-size: small;
    }

    .buscador {
      background-color: $white;
      color: #a5aead;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $espaciado;

      input {
        flex-grow: 1;
      }

      @include for-desktop {
        width: 600px;
      }

      img {
        height: 22px;
        margin-right: -10px;
      }
    }
  }
}

/*******************
        MENU
******************/

.menu {
  background: $color1-menu;
  background: linear-gradient(90deg, $color1-menu 0%, $color2-menu 100%);
  font-size: smaller;

  section {
    display: flex;
    flex-direction: column;

    @include for-tablet {
      padding: 15px 0;
    }

    @include for-desktop {
      font-size: 1rem;
      flex-direction: row;
      justify-content: center;
    }
    article {
      flex-grow: 1;
      padding: $espaciado;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $white;

      img {
        width: 28px;
      }

      p {
        flex-grow: 1;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}

/*******************
      MAIN
******************/
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-phone {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  h1 {
    flex-basis: 100%;
    text-align: center;
    margin: 12px 0;
  }

  section {
    margin: 10px 0;
    border: 1px rgb(240, 237, 237) solid;

    img {
      width: 100%;
    }

    @include for-phone {
      flex-basis: calc(56% - 32px);
      font-size: 0.8em;
    }

    @include for-tablet {
      flex-basis: calc(36% - 32px);
      font-size: 1em;
    }

    @include for-desktop {
      flex-basis: calc(27% - 32px);
    }

    article {
      padding: 15px;
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 900;
        text-align: left;
        margin-bottom: 12px;
      }

      h2 {
        font-weight: 900;
        text-decoration: line-through;
        text-align: right;
      }

      h4,
      h5 {
        margin-top: 12px;
        font-weight: 500;
      }

      h5 {
        text-align: left;
      }

      #estrellas {
        margin-top: 12px;
        width: 85px;
      }

      button {
        @include button($color-primario);
      }
    }
  }
}

/*******************
      FOOTER
******************/
footer {
  background-color: #151515;

  div {
    padding: 25px 0;
    color: $white;
    display: flex;
    flex-direction: row;

    ul {
      font-size: x-small;
      list-style: none;
      flex-grow: 1;
      line-height: 15px;
      @include for-desktop {
        font-size: 1rem;
        line-height: 22px;
        flex-basis: 50%;
      }
    }
  }
}
