* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/*******************
      CONTENEDOR
******************/
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
.contenedor h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin: 12px 0;
}

/*******************
      HEADER
******************/
header {
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .logo {
  max-width: 100%;
}
header .carrito .contenido {
  display: none;
}
@media screen and (min-width: 768px) {
  header .carrito:hover .contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    width: 400px;
  }
  header .carrito:hover .contenido section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  header .carrito:hover .contenido section article:nth-child(2) {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  header .carrito:hover .contenido section article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .carrito:hover .contenido section article h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  header .carrito:hover .contenido section article img {
    width: 130px;
  }
  header .carrito:hover .contenido button {
    background-color: #741d51;
    margin-top: 12px;
    padding: 12px;
    text-align: center;
    color: #ffffff;
  }
}

/*******************
      BANNER
******************/
.banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 0;
}
@media screen and (min-width: 480px) {
  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 85px 0;
  }
}
.banner article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.banner article h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 30px 0;
}
.banner article h4 {
  margin: 30px 0;
  font-weight: 300;
  font-size: small;
}
.banner article .buscador {
  background-color: #ffffff;
  color: #a5aead;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}
.banner article .buscador input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
@media screen and (min-width: 768px) {
  .banner article .buscador {
    width: 600px;
  }
}
.banner article .buscador img {
  height: 22px;
  margin-right: -10px;
}

/*******************
        MENU
******************/
.menu {
  background: #741d51;
  background: -webkit-gradient(linear, left top, right top, from(#741d51), to(#e14d51));
  background: linear-gradient(90deg, #741d51 0%, #e14d51 100%);
  font-size: smaller;
}
.menu section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 480px) {
  .menu section {
    padding: 15px 0;
  }
}
@media screen and (min-width: 768px) {
  .menu section {
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu section article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.menu section article img {
  width: 28px;
}
.menu section article p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 20px;
}

/*******************
      MAIN
******************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 280px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
main section {
  margin: 10px 0;
  border: 1px rgb(240, 237, 237) solid;
}
main section img {
  width: 100%;
}
@media screen and (min-width: 280px) {
  main section {
    -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
    font-size: 0.8em;
  }
}
@media screen and (min-width: 480px) {
  main section {
    -ms-flex-preferred-size: calc(33% - 16px);
        flex-basis: calc(33% - 16px);
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  main section {
    -ms-flex-preferred-size: calc(25% - 16px);
        flex-basis: calc(25% - 16px);
  }
}
main section article {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main section article h1 {
  font-weight: 900;
  text-align: left;
  margin-bottom: 12px;
}
main section article h2 {
  font-weight: 900;
  text-decoration: line-through;
  text-align: right;
}
main section article h4,
main section article h5 {
  margin-top: 12px;
  font-weight: 500;
}
main section article h5 {
  text-align: left;
}
main section article #estrellas {
  margin-top: 12px;
  width: 85px;
}
main section article button {
  background-color: #3498db;
  margin-top: 12px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
}

/*******************
      FOOTER
******************/
footer {
  background-color: #151515;
}
footer div {
  padding: 25px 0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer div ul {
  font-size: x-small;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  footer div ul {
    font-size: 1rem;
    line-height: 22px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}/*# sourceMappingURL=main.css.map */