// Importación de variables
@import 'variables';
@import 'mixins';

// Reseteo de propiedades
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

/*******************
      CONTENEDOR
******************/

.contenedor {
  margin: 0 auto;
}

/*******************
      HEADER
******************/
header {
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .carrito {
    display: none;
  }

  .logo {
    width: 110px;
  }

  .cart {
    width: 25px;
  }
}

/*******************
      BANNER
******************/
.banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: $white;
  display: flex;

  padding: 40px 20px;
  article {
    text-align: left;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 50px 0;
    }

    h4 {
      margin: 30px 0;
      font-weight: 300;
      font-size: small;
    }

    .buscador {
      color: #a5aead;
      display: flex;
      flex-direction: row;
      background-color: $white;
      justify-content: space-between;
      align-items: center;
      padding: $espaciado;

      p {
        font-size: x-small;
      }

      img {
        height: 22px;
        margin-right: -10px;
      }
    }
  }
}

/*******************
        MENU
        fontsize hgeneral de 2rem
******************/

.menu {
  background: $color1-menu;
  background: linear-gradient(90deg, $color1-menu 0%, $color2-menu 100%);
  display: flex;
  flex-direction: column;

  article {
    padding: $espaciado;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $white;

    img {
      width: 28px;
    }

    p {
      flex-grow: 1;
      text-align: center;
      line-height: 20px;
      font-size: x-small;
    }
  }
}

/*******************
      MAIN
******************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-phone {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  h1 {
    // preguntar que ha pasado aqui
    // flex-grow: 1;
    flex-basis: 100%;
    padding: 5px 5px;
    text-align: center;
    font-weight: 900;
  }

  section {
    display: flex;
    flex-direction: column;
    border: 1px #a5aead solid;
    margin: 20px 16px;

    @include for-phone {
      flex-basis: calc(20% - 32px);
      justify-content: center;
    }

    @include for-tablet {
      flex-basis: calc(33% - 32px);
      justify-content: center;
    }

    img {
        width: 100%;
    }
    article {
      padding: $espaciado;
      display: flex;
      flex-direction: column;
      flex-basis: 30%;

      h1 {
        text-align: left;
        flex-grow: 1;
      }

      h2 {
        text-align: right;
        text-decoration: line-through;
        font-weight: 900;
        margin-bottom: 30px;
      }

      h4 {
        font-weight: 600;
      }

      h5 {
        text-align: left;
        font-weight: 400;
      }

      #estrellas {
        margin: $espaciado 0;
        width: 90px;
      }

      button {
        flex-grow: 1;
        background-color: #32c3ef;
        padding: $espaciado;
        color: $white;
        font-size: medium;
      }
    }
  }
}

/*******************
      FOOTER
      fuente general 2 rem
******************/
footer {
  padding: $espaciado;
  background-color: #151515;
  color: $white;
  display: flex;
  flex-direction: row;
  font-size: x-small;

  ul {
    list-style: none;
    flex-grow: 1;
    line-height: 15px;
  }
}
